* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: #1a1a1a;
    color: #ffffff;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #ffffff;
    border: none;
}

#workspaces button.focused {
    background: #333333;
}

#mode,
#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#tray,
#language,
#backlight,
#custom-yearprogress,
#mpris {
    padding: 0 10px;
    margin: 0;
    background: #333333;
    color: #ffffff;
}

/* Triangular separators */
#custom-right-triangle {
    padding: 0;
    margin: 0;
}

#custom-left-triangle {
    padding: 0;
    margin: 0;
}

#battery.charging {
    background-color: #4d4d4d;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #1a1a1a;
    }
}

#battery.warning:not(.charging) {
    background: #666666;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network.disconnected {
    background: #4d4d4d;
}

#pulseaudio.muted {
    background: #4d4d4d;
}
